.app {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

.app-header {
  background-color: #222;
  height: 300px;
  padding: 20px;
  color: #fff;
}

.app-logo-container {
  height: 200px;
}

.app-logo {
  height: 150px;
  pointer-events: none;
}

.app-title {
  font-size: 24px;
}

.app-intro {
  font-size: 16px;
}

.app-link {
  color: #61dafb;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
